body {
	font-family: Arial;
}

header {
	text-align: center;
}

.flex-container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	justify-content: space-evenly;
	justify-content: space-around;
	gap: 30px 30px;	
}

#circle1 {
	fill: orangered;
}

#circle2 {
	fill: blueviolet;
}


#circle3 {
	fill: greenyellow;
}

.outer-circle {
	stroke: black;
	stroke-width: 5px;
}

.transparent {
	fill-opacity: 0;
	border-opacity: 0;
}
